/* font-family: 'Chelsea Market', cursive;
font-family: 'Roboto', sans-serif; */

body{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 750px;
    margin: auto;
}

nav a{
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    background: #5ED3EB;
    text-decoration: none;
    width: 13%;
    margin: 2% 15%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

nav a:first-child{
    background: #FF764E;
    margin: 2%;
    padding: 2px 20px;
}

nav a:last-child{
    background: #FFCD69;
    margin:2%;
}

main div{
    display: inline-block;
    vertical-align: middle;
}

.main_image{
    width: 26%;
}

.main_image img{
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 100px;
    display: block;
}
.main_text{
    width: 50%;
    text-align: center;
    padding: 10%;
}

h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 2rem;
}

.sec_box{
    background-color: #DDB9A3;
    color: white;
    padding: 2px 10px;
}

#ozellikler div{
    width: 40%;
    margin: 3% auto;
    text-align: center;
}

#ozellikler div img{
    width: 35%;
    margin: auto;
}

#ozellikler span {
    font-weight: bold;
}

footer div{
    background: url(/assets/footer_img.jpg);
    height: 180px;
    width: 100%;
}

footer{
    background : #F9E7DC;
}